# Environment
.env
.env.*

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Logs
logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Invoice confidential data
data/invoice/

# Invoice confidential data
data/invoice/

# SQLite database
db/
